//charttable
.tablechart{
    box-shadow: 2px 4px 14px 5px #dde5ee;
}

//userstetus
.ste{
    margin-top: 10px;
    
}
.custom-green-dot {
    background-color: green !important; 
    color: green !important; 
  }

