.buttonsec{
    @apply inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400
}
.icon{
    @apply w-5 h-5 text-black transition duration-75 dark:text-black group-hover:text-white  dark:group-hover:text-white

}
.icon-text{
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700
}
.icon-text:hover{
    color: white;
}
.navlink li{
    margin-bottom: 20px;
}

.sidebar-text{
    font-family: "Roboto", sans-serif;
}